

table{
  border-spacing: 0px;
  margin-left: 10px;
  margin-right: 10px;
  border:2px solid black;

}

td {
  padding: 0px;
  width: 100px;
  height: 100px;
  font-size: 8em;
  border:2px solid black;
}



.user1{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQICFaxQZii81ueiGZDMjBvXmpmFs-fZe6iRZHnsqeNBj4u_SIPpA);
  cursor: pointer
}
.user2{
  background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSj76Zg92Dm2nZlC_9FyOKo8RACK5evLWyqy1WBerqCivZ3muPUkw);
  cursor: pointer;
}

