
.container{
  float:left;
  width:75%;
}

table{
  border-spacing: 0px;
  float: left;

}

td {
  padding: 0px;
  width: 200px;
  height: 200px;
  font-size: 8em;
  border:2px solid black;
}





.user2{
  background-image:url(https://andygaudion93.files.wordpress.com/2011/02/mr-men-show.jpg); url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQICFaxQZii81ueiGZDMjBvXmpmFs-fZe6iRZHnsqeNBj4u_SIPpA);
  background-size: 250px;
  cursor: pointer;
}
.user1{
  background-image:  url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQICFaxQZii81ueiGZDMjBvXmpmFs-fZe6iRZHnsqeNBj4u_SIPpA);
  background-size: 260px;
  cursor: pointer;
}

.image_container{
  width: 100px;
  height: 200px;
  display: block;
  float: left;
}

 .image1 img, .image2 img {
  width:135px;
  /*height:135px;*/
  display: inline-block;
}
/*
 .image2 img {
  width: 5px;
  height: 5px;
  display:block;
  margin: 1em;

}*/

.winningMessage{
  display: none;
}

.winningMessage .user1, .winningMessage .user2 {
  display: none;
}

