
.container{
  position: relative;
  margin: auto;
  border: 2px dotted red;
  padding-bottom: 800px;
}

table{
  border-spacing: 0px;
  float: left;

}

td {
  padding: 0px;
  width: 200px;
  height: 200px;
  font-size: 8em;
  border:2px solid black;
}




.user1{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQICFaxQZii81ueiGZDMjBvXmpmFs-fZe6iRZHnsqeNBj4u_SIPpA);
  background-size: 250px;
  cursor: pointer;
}
.user2{
  background-image: url(https://andygaudion93.files.wordpress.com/2011/02/mr-men-show.jpg);
  background-size: 260px;
  cursor: pointer;
}

.play1{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQICFaxQZii81ueiGZDMjBvXmpmFs-fZe6iRZHnsqeNBj4u_SIPpA) no-repeat ;
  float: right;

}

.play2{
  background-image: url(https://andygaudion93.files.wordpress.com/2011/02/mr-men-show.jpg) no-repeat;
  border-radius: 100%;
  float: right;
}

